
.contextland {
    display: flex;
    &__left-col {
        flex: 0 0 20%;
        background-color: black;
        height: 100vh;
        display: flex;
        justify-content: center;
    }
    &__right-col {
        
    }
    &__home-wrapper {
        cursor: pointer;
        padding-top: 10px;
        h3 {
            color: white;
            transition: .3s;
        }
        h3:hover {
            opacity: .3;
        }

    }


}