
.contextland {
    display: flex;
    &__left-col {
        flex: 0 0 20%;
        background-color: black;
        height: 100vh;

    }
    &__right-col {
        
    }
    &__home-wrapper {
        cursor: pointer;
        text-align: center;
        background-color: white;
        border: 8px solid #000;
        &:hover {
            background-color: black;
        }
        h3 {
            color: black;
            transition: .1s;
        }
        h3:hover {
            color: white;
        }

    }


}