
.draw {
    border: 8px solid #000;
    &__top {
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
            color: white;
            margin: 0;
            font-size: 70px;
            padding-right: 20px;
            @media (max-width: 700px) {
                font-size: 50px;
            }
        }
        .draw-arrow {
            font-size: 30px;
            cursor: pointer;
            color: white;
            padding-left: 20px;
        }
    }
    .draw-trash {
        font-size: 30px;
        cursor: pointer;
        padding: 50px 0 0 50px;
        &:hover {
            opacity: .4;
        }
    }

    // .download{
    //     background-color: black;
    //     color: white;
    //     padding: 10px;
    //     position: absolute;
    //     top: 187px;
    //     left: 50px;
    //     cursor: pointer;
    //     @media (max-width: 1200px) {
    //         top: 247px;
    //       }
    //       @media (max-width: 740px) {
    //         top: 322px;
    //       }
    // }
    canvas {
        width: 100%;
        height: 100%;
    }
}

.use-desktop {
    margin: auto;
    padding-top: 25%;
    text-align: center;
}