.event-single {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 100px;
    position: relative;
    .arrow-wrapper {
        position: absolute;
        left:40px;
        top: 75px;
        .event-arrow {
            height: 100px;
            cursor: pointer;
            transition: .3s;
            &:hover {
                opacity: .5;
            }
        }
    }
    img {
        width: 200px;
    }
    &__body {
        text-align: center;

    }
    h1 {
        font-size: 6rem;
        margin-bottom: 0;
    }
}