
.footer {

    border-left: 8px solid #000;
    border-right: 8px solid #000;
    border-bottom: 8px solid #000;
    p {
        margin: 0;
    }
    &__top {
        border-bottom: 8px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        .social {
            padding: 0 20px;
        }
        .social:hover {
            opacity: .3;
        }
    }
    &__bottom {
        background-color: black;
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        p {
            color: white;
            cursor: pointer;
            font-size: 25px;
        }
        &-left {
          
        }
        &-middle {
            
        }
        &-right {
            
        }
    }
}