
.footer {

    border-left: 8px solid #000;
    border-right: 8px solid #000;
  
    p {
        margin: 0;
    }
    &__top {
        border-bottom: 8px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        .social {
            padding: 0 20px;
            &:hover {
                opacity: .3;
            }
        }
        .trophy {
            font-size: 27px;
            padding: 0 20px;
            cursor: pointer;
            &:hover {
                opacity: .3;
            }
        }
    }
    &__bottom {
        background-color: black;
        min-height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
        @media (max-width: 800px) {
            display: block;
            text-align: center;
            h3 {
                padding: 10px 0;
                font-size: 100px!important;
            }
        }
        h3 {
            color: white;
            cursor: pointer;
            font-size: 150px;
            font-weight: 700;
            &:hover {
                opacity: .6;
            }
        }
        &-left {
          
        }
        &-right {
           align-self: flex-end;
            p {
                color: white;
                font-size: 12px;
            }
            
        }
    }
}