.home {
    &__top {
        display: flex;
    }
    &__top-left, &__top-middle,  &__top-right{
        flex: 0 0 33.333%;
        text-align: center;
        border-left: 8px solid #000;
        border-top: 8px solid #000;
        border-bottom: 8px solid #000;
        transition: .5s;
        cursor: pointer;
    }
    &__top-right {
        border-right: 8px solid #000;
    }
    &__top-left:hover, &__top-middle:hover,  &__top-right:hover{
        background-color: black;
        h3:hover {
            color: white;

        }
    }

    &__hero {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 8px solid #000;
        border-left: 8px solid #000;
    }
    &__hero-left {
        flex: 1;
        h3 {
                padding-left: 20px;
        }
    }
    &__hero-left-top {
        border-bottom: 8px solid #000;
        h1 {    
            font-size: 9vw;
            line-height: 10px;
        }
        
    }
    &__hero-left-bottom {
        
    }
    &__hero-right {
        background-color: black;
        max-width: 25vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        h3 {
            color: white;
        }
        
    }

    &__main {
        display: flex;
        h4 {
            font-size: 40px;
            margin-bottom: 40px;
        }
        p {
            font-size: 28px;
            line-height: 32px;
        }

    }
    &__main-left {
        background-color: black;
        padding: 20px;
        flex: 0 0 50%;
        h4, p{
            color: white;
        }
    }
    &__main-right {
        padding: 20px;
        background-color: white;
        border-bottom: 8px solid #000;
        border-right: 8px solid #000;
    }
}