

.laugh {
    border: 8px solid #000;
    height: 100vh;
    &__top {
        border-bottom: 8px solid #000;
        display: flex;
        background-color: black;
        .arrow-wrapper {
            color: white;
            flex: 0 0 100px;
            text-align: center;
            cursor: pointer;
            border-right: 8px black solid;
            font-size: 50px;
            padding-top: 10px;
            &:hover {
                background-color: white;
            }
            &:hover .fa-arrow-left {
                color: black;
            }
            @media (max-width: 1000px) {
                border-right: none;
            }
            .draw-arrow {
                font-size: 30px;
                cursor: pointer;
            }
        }
    }
    &__angle {
        transform: .4s;
        cursor: pointer;
        &:hover {
            opacity: .4;
        }
    }
    h1 {
        font-size: 5rem;
        text-align: center;
        margin: auto;
        color: white;
        padding-right: 7%;
    }
    h2 {
        font-size: 3rem;
    }
    &__icon-wrapper {
        text-align: center;
        padding-top: 15rem;
        &-icon {
            cursor: pointer;
            transform: .4s;
            &:hover {
                color: rgb(204, 26, 26);;
            }
        }
    }
    &__setup-wrapper {
        text-align: center;
        margin-top: 20px;
        padding: 0 10%;
        &-question {

        }
    }
    .question-icon {
        cursor: pointer;
        transform: .4s;
        &:hover {
            color: rgb(204, 26, 26);;
        }
    }
    &__delivery {
        text-align: center;
        margin-top: 20px;
    }
}            

// .fa-arrow-left{
//     color: black;
// }