

.post {
    border: 8px black solid;
    min-height: 100vh;
    &__top {
        background-color: black;
        height: 100px;
        display: flex;
        align-items: center;
        img {
            width: 20px;
        }
        .post-arrow {
            color: white;
            font-size: 50px;
            padding-left: 20px;
            cursor: pointer;
        }

    }
    &__body {
        text-align: center;
        padding: 30px 20vw;
        @media (max-width: 800px) {
            padding: 5px;
        }
        .title-wrapper {
            text-align: center;
            h1 {
                font-size: 60px;
                margin: 10px;
                @media (max-width: 800px) {
                    font-size: 50px;
                }
            }

        }
        img {
            max-height: 400px;
            width: 100%;
        }

    }
}