

.today {
    .info {
        text-align: center;
        font-size: 16px;
        padding: 0 10%;
    }
    .today {
        margin-left: 40px;
        text-align: center;
        font-size: 5rem;
        margin: 37px 0;
    }
    &__wrapper {
        padding: 0 10%;
        display: flex;
        gap: 50px;
        @media(max-width:800px){
            display: block;
            padding-top: 0;
            padding: 0 ;
        }
        .image-wrapper {
            @media(max-width:800px){
                text-align: center;
            }
            img {
                max-width: 275px;
                border: 10px solid black;
            }
        }
        .content-wrapper {
            .list-wrapper {
                margin-top: 0;
            }
            .list-item {
                margin-bottom: 12px;
                border: 10px solid black;
                padding: 8px;
                margin-bottom: 12px;
                list-style-type: none;
                display: block;
                text-decoration: none;
                color: black;
                cursor: pointer;
                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}