$regular: 400;
$semi: 600;
$bold: 700;

$desktopSize: 1200px;
$mobileSize: 414px;
$maxScreen: 1366;
$minScreen: 300;

p, h1, h2, h3, h4, h5, h6, li {
  color: black;
  font-family: 'TTNormsPro',sans-serif;
}
li {
  font-size: 18px;
}


p {
  font-size: 20px;
  padding: 0;
}

// h1 {
//   font-size: calc(60px + (90 - 60) * ((100vw - #{$minScreen}px) / (#{$maxScreen} - #{$minScreen})));
// }

h3,
.h3 {
  font-size: calc(42px + (64 - 42) * ((100vw - #{$minScreen}px) / (#{$maxScreen} - #{$minScreen})));
  line-height: calc(40px + 17*(100vh - 300px) /(1366 - 300));
  margin: 10px 0;

  font-weight: normal;
  font-feature-settings: 'liga' off;

  @media(max-width: $mobileSize) {
    font-size: 42px;
    line-height: 33px;
  }

  @media(min-width: $desktopSize) {
    font-size: 64px;
    line-height: 50px;
  }
}

